TMDB_ACCESS_TOKEN=replace-with-your-tmdb-read-access-token
PORT=51546

# Optional
MANIFEST_ID=webstreamr-mbg
MANIFEST_NAME=WebStreamrMBG
CONFIGURATION_DESCRIPTION=
DISABLED_EXTRACTORS=
DISABLED_SOURCES=
FLARESOLVERR_ENDPOINT=
PROXY_CONFIG=
