# ----------------------------------------
# MyStreamr Configuration
# ----------------------------------------

# Manifest details
MANIFEST_ID=mystreamr
MANIFEST_NAME=MyStreamr
# CONFIGURATION_DESCRIPTION=

# API configuration
TMDB_ACCESS_TOKEN=replace-with-your-tmdb-read-access-token

# Network configuration
PORT=51546
# ALL_PROXY=
# PROXY_CONFIG=
# FLARESOLVERR_ENDPOINT=

# Optional source/extractor toggles
# DISABLED_EXTRACTORS=
# DISABLED_SOURCES=
